@use "css-variables" as v;

.sidenav {
  padding: 35px;
  flex: 0 0 350px;

  div {
    margin-top: 30px;
    ul {
      font-size: v.$text-md;

      li {
        padding: 20px 0;
        color: v.$grey_highlight;

        &:first-child {
          border-bottom: 1px solid v.$sogrey_highlight;
        }
        > svg {
          margin-right: 20px;
        }
      }
    }
  }
}
