// colors
$green_highlight: #59c3c3;
$red_highlight: #f45b69;
$grey_highlight: #637081;
$sogrey_highlight: #d9d9d9;

$red_faded: #f7a399;
$green_faded: #68c3d4;
$grey_faded: #7c98b3;
$sogrey_faded: #ebebeb;

$grey_font: #2b2d42;
$soft_font: #8d99ae;

$dark_green_default: #004d61;
$dark_default: #000000;
$white_default: #fff;

// fonts
$text-lg: 1.5rem;
$text-md: 1.25rem;
$text-base: 1rem;
$text-sm: 0.8rem;
