.custom_body {
  display: flex;
  flex-direction: row;
  margin: 0 50px;
  position: relative;

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    margin-top: 50px;

    @media screen and (min-width: 1024px) {
      margin-left: 380px;
    }
  }
}
